#barra-de-navegacion, #barra-de-navegacion .container{
	background-color: transparent; 
	border-left: none; 
	border-right: none; 
	border-top: none
}

.img-ancha{
	width:100%;
}

.container-fluid{
	padding: 0;
}

#header{
	background-image: url("../images/texturadegradado.png"); 
	background-repeat: repeat-x;
	background-size: auto 100%;
}

.panelcolumnaimg .panel-body{
	padding: 0;
}

@media only screen and (max-width: 766px) {
	.collapsing, .in {background-color: #fff;}
	#header{
		background-size: 200px;
	}

}

#footer-col-cen{
  text-align: center;
}

#footer-col-der{
  text-align: right;
}

@media (max-width: 768px){
  #footer-col-izq p, #footer-col-der p{
    text-align: center;
  }
}