*,.jumbotron h1 {
margin:0;
padding:0;
text-align:center;
}

* {
    margin: 0;
    text-align:center;
}
html, body {
    height: 100%;
    text-align:center;
}

html, body, #container {
    height: 100%;
    width: 100%;
    	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: lighter;
    margin:auto;
}

body {
color:white;
/*background:url(../images/background.jpg) no-repeat center center fixed;*/
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
}

#wrapper {
    text-align:center;
}

#firma img{
	height:100%;
	margin-right:2px;
}



#page-wrap {
width:400px;
background:#FFF;
-moz-box-shadow:0 0 20px #000;
-webkit-box-shadow:0 0 20px #000;
box-shadow:0 0 20px #000;
margin:50px auto;
padding:20px;
}

p {
font:15px/2 Georgia, Serif;
margin:0 0 30px;
}

.logo {
    text-align:center;
    position:fixed;
    text-align:center;
    background:none;
    margin-bottom:0;
    padding:10px;
   left:0px;
   width:100%;
   bottom:100px;

}

.logo >img{
    margin:auto;
}



@media only screen and (max-width: 500px) {

}



#idiomas{

    padding:0% 10%;
    /*margin:100px auto;  */    
    text-align: justify;
    }

#idiomas > div {
    display: inline-block;
    vertical-align: top;

    /* IE fix. */
    *display: inline;
    zoom: 1;
    }

#idiomas:after {
    content: "";
    width: 100%;
    display: inline-block;
    }

.footer{
    background-color: black;
   position:fixed;
   left:0px;
   bottom:0px;
   height:50px;
   width:100%;

}




